# Binaries for programs and plugins
*.exe
/resgate

# debug files
/debug

# Local configuration
/*.json

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Editor specifics
.vscode
__debug_bin
